# python
__pycache__
*.pyc
*.pyo
*.pyd

# packaging
build/
dist/
*.egg-info/
*.egg

# env
.venv/
env/
*.env


# Tests
*.log
*.out
*.tmp
*.coverage
.coverage.*
.cache/
.pytest_cache

# user
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# misc
*.bak
*.swp

# environment variables
.env
.env.*
